<form class="form-horizontal">
    <div class="row-fluid">
        <div class="span8">
            <div class="control-group">
                <label class="control-label" for="from">Origem:</label>
                <div class="controls">
                    <input type="text" name="from" data-ng-model="ride.from.city.name" placeholder="from"/>
                    <!--                    <input type="text" name="fromState" data-ng-model="ride.from.city.state" placeholder="fromState"/>
                                        <input type="text" name="fromDate" data-ng-model="ride.from.date" placeholder="fromDate"/>-->
                </div>
            </div>
            <div class="control-group" data-ng-repeat="to in ride.to">
                <label class="control-label">Destino:</label>
                <div class="controls">
                    <input type="text" name="to[]" data-ng-model="to.city.name" placeholder="to"/>
                    <!--                    <input type="text" name="toState[]" data-ng-model="to.city.state" placeholder="toState"/>
                                        <input type="text" name="toDate[]" data-ng-model="to.date" placeholder="toDate"/>-->
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <a class="btn btn-small" data-ng-click="addTo()">
                            <i class="icon-plus"></i>
                        </a>
                        <a class="btn btn-small" data-ng-click="removeTo()">
                            <i class="icon-minus"></i>
                        </a>
                        Adicionar/Remover</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Vagas:</label>
                <div class="controls">
                    <input type="text" name="seats" data-ng-model="ride.seats" placeholder="seats"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Contato:</label>
                <div class="controls">
                    <input type="text" name="contact" data-ng-model="ride.contact" placeholder="contact"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Informações:</label>
                <div class="controls">
                    <input type="text" name="info" data-ng-model="ride.info" placeholder="info"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" name="returning" data-ng-model="ride.returning" />Ida e volta?
                    </label>
                </div>
            </div>
        </div>
        <div class="span4">
            <a target="_blank" data-ng-show="mapLink" href="{{mapLink}}">
                <img class="img-polaroid" src="{{mapImage}}"/>
            </a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="form-actions">
                <a class="btn btn-success pull-right" data-ng-click="offerRide()">
                    <i class="icon-white icon-ok"></i>Salvar</a>
            </div>
        </div>
    </div>
</form>