<div class="page-header hidden-sm" data-ng-init="findMyRides()">
    <h3>Rotas e Viagens</h3>
</div>
<ul class="nav nav-tabs nav-justified">
    <li><a href="routes">Rotas</a></li>
    <li class="active"><a href="rides">Viagens</a></li>
</ul>
<div class="panel">
    <form name="form" data-role="form" novalidate>
        <fieldset>
            <legend>Nova viagem</legend>
            <div class="form-group">
                <label for="label" class="control-label">Rota</label>
                <input type="text" name="label" class="form-control"
                       placeholder="label" readonly data-ng-model="ride.route.label"/>
            </div>
            <div class="form-group">
                <label for="departure" class="control-label">Data de partida</label>
                <input type="text" name="departure" class="form-control"
                       data-bs-datetimepicker="ride.departure" >
            </div>
            <div class="form-group">
                <label for="regress" class="control-label">Data de regresso</label>
                <input type="text" name="regress" class="form-control"
                       data-bs-datetimepicker="ride.regress" >
            </div>
            <div class="form-group">
                <label class="control-label">Cidades</label>
                <ol class="breadcrumb form-control">
                    <li>{{ride.route.from.label}}</li>
                    <li data-ng-repeat="city in ride.route.cities">{{city.label}}</li>
                    <li>{{ride.route.to.label}}</li>
                </ol>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <a href="routes" class="btn btn-default" >Cancelar</a>
                    <a class="btn btn-primary" data-ng-click="saveRideOffer()">Salvar viagem</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>