<div class="page-header hidden-sm" data-ng-init="findMyRoutes()">
    <h3>Rotas e Viagens</h3>
</div>
<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="routes">Rotas</a></li>
    <li><a href="rides">Viagens</a></li>
</ul>
<div class="panel">
    <div class="row">
        <a class="btn btn-success pull-right" data-ng-click="newRoute()">Nova rota</a>
        <div class="table-scrollable">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Rota</th>
                        <th>Cidades</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="r in myroutes">
                        <td>
                            <a href="../route/{{r.id}}">{{r.label}}</a>
                        </td>
                        <td>
                            <ol class="breadcrumb">
                                <li>{{r.from.label}}</li>
                                <li data-ng-repeat="city in r.cities">{{city.label}}</li>
                                <li>{{r.to.label}}</li>
                            </ol>
                        </td>
                        <td>
                            <!-- Single button -->
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Opções <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                                    <li>
                                        <a data-ng-click="offerRide(r)">
                                            <i class="icon-white icon-plus">&nbsp;</i><span class="hidden-phone">Nova viagem</span>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a data-ng-click="removeRoute(r)">
                                            <i class="icon-white icon-remove">&nbsp;</i><span class="hidden-phone">Remover</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>