<div class="row">
    <!--<pre>{{params|json}}</pre>-->
    <div class="col-lg-6" data-ng-init="initRides()">
        <!--<pre>{{ridesMap|json}}</pre>-->
        <div class="row">
            <div class="col-lg-4">
                <a href="#" class="thumbnail row">
                    <div class="col-lg-8 text-center">
                        <span>Sexta-feira</span>
                        <b>23</b><br/>
                        <small>Agosto</small>
                    </div>
                    <div class="col-lg-4">
                        <h2>2</h2>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="thumbnail row">
                    <div class="col-lg-8 text-center">
                        <span>Sexta-feira</span>
                        <b>23</b><br/>
                        <small>Agosto</small>
                    </div>
                    <div class="col-lg-4">
                        <h2>2</h2>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="thumbnail row">
                    <div class="col-lg-8 text-center">
                        <span>Sexta-feira</span>
                        <b>23</b><br/>
                        <small>Agosto</small>
                    </div>
                    <div class="col-lg-4">
                        <h2>2</h2>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="thumbnail row">
                    <div class="col-lg-8 text-center">
                        <span>Sexta-feira</span>
                        <b>23</b><br/>
                        <small>Agosto</small>
                    </div>
                    <div class="col-lg-4">
                        <h2>2</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-6" data-ng-init="initRoutes()">
        <!--<pre>{{routes|json}}</pre>-->
    </div>
</div>