<div class="row">
    <!--<pre>{{params|json}}</pre>-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-ng-init="initRides()">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="thumbnail row">
                    <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=7&size=300x300&maptype=roadmap&sensor=false&path=from:Uberlandia-MG|Uberaba-MG" alt="ALT NAME"
                         class="col-xs-12 col-sm-4 col-md-5 col-md-push-7 col-lg-5 col-lg-push-0"/>
                    <div class="caption col-xs-12 col-sm-8 col-md-7 col-md-pull-5 col-lg-7 col-lg-pull-0">
                        <blockquote class="pull-left">
                            <!--<h5>-->
                                <span class="label label-info">{{params.fromId}}</span> / 
                                <span class="label label-warning">{{params.toId}}</span> 
                                <!--                                <span data-ng-class="(rd.route.from.id == from.id && 'label label-info')">{{rd.route.from.label}}</span> / 
                                                                <span data-ng-class="(rd.route.to.id == to.id && 'label label-warning')">{{rd.route.to.label}}</span> -->
                                <small>{{1377230400000 | date:'EEEE dd/MM/yyyy HH:mm'}}</small>
                            <!--</h5>-->
                        </blockquote>
                        <blockquote class="pull-right text-right">
                            <!--                        <blockquote class="media-heading pull-right" data-ng-show="rd.regress">-->
                            <!--<h5>-->
                                <span class="label label-info">{{params.toId}}</span> / 
                                <span class="label label-warning">{{params.fromId}}</span>
                                <!--                                <span data-ng-class="(rd.route.to.id == from.id && 'label label-info')">{{rd.route.to.label}}</span> / 
                                                                <span data-ng-class="(rd.route.from.id == to.id && 'label label-warning')">{{rd.route.from.label}}</span>-->
                                <small>{{1377489600000 | date:'EEEE dd/MM/yyyy HH:mm'}}</small>
                            <!--</h5>-->
                        </blockquote>
                    </div>
                    <div class="caption col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <blockquote class="pull-left">
                            <!--<h6>-->
                                <strong>Passando por:</strong>
                                <span>
                                    <span class="label label-warning">{{params.toId}}</span>, 
                                    <span class="label label-info">{{params.toId}}</span>, 
                                </span>
                                <!--<strong data-ng-show="rd.route.cities">Passando por:</strong>-->
                                <!--                        <span data-ng-repeat="c in rd.route.cities">
                                                            <span data-ng-class="((c.id == to.id && 'label label-warning')||(c.id == from.id && 'label label-info'))">{{c.city.label}}</span>, 
                                                        </span>-->
                                <span class="label label-success">{{3}} vagas</span>.
                                <br/>

                                <small>Marcos</small>
                                <!--<small>{{rd.route.owner.name}}</small>-->
                            <!--</h6>-->
                        </blockquote>
                        <button class="btn btn-default pull-right"
                                data-ng-click="moreRide(rd)">
                            <i class="icon-plus"></i>
                            <span>Mais Detalhes</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
