/www/res/icon/android/Thumbs.db
/www/res/icon/bada-wac/Thumbs.db
/www/res/icon/bada/Thumbs.db
/www/res/icon/blackberry/Thumbs.db
/www/res/icon/ios/Thumbs.db
/www/res/screen/android/Thumbs.db
/www/res/screen/bada/Thumbs.db
/www/Thumbs.db